@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}



@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Russo+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/*Menu*/
.menu{
    display: flex;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.037);
    align-items: center;
    justify-content: space-between;
    outline: 1px solid rgba(255, 0, 0, 0.374);
    z-index: 2;
}

.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;   
}

.menu li{
    display: block;
    padding: 5px;
    margin: 0px 10px;
    text-transform: uppercase;
    
    
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.video{
    object-fit: cover; /* Faz com que o vídeo ocupe o espaço sem distorcer */
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

.menu h1{
    text-align: center;
    padding: 10px;
    font-size:2rem;
    font-family: "Russo One", sans-serif;   
    font-weight: bold;
    margin: 0;
    color: red;
    text-transform: uppercase;
  
}


/*Main*/


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
}

.principal {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.text-overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20;
    left: 20px;
    bottom: 20%;
    text-align: left;
    z-index: 2;
}


.text-overlay h1{
    font-family: "Russo One", sans-serif;
    font-size: 4rem;
    margin: 0;
    color: rgb(172, 42, 42);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
