@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Doto:wght@100..900&display=swap');
/*Footer*/

:root {
    --cor-azul: #1E3A8A;
    --cor-Branco: #EFF6FF;
    --cor-azulescuro: #1E40AF;
    --cor-breto: #000000;
    --cor-cinzar: #D1D5DB;
}

*{   
    margin: 0;
    padding: 0;
}

nav#menu ul{
    background-color: var(--cor-breto);
    padding: 5px; /*Definindo a largura de foro*/
    opacity: 90%;
    position: relative; /*permitindo uma forma relativa na tela*/
    right: 1px;
}

nav#menu li{
    list-style: none; /*Esconde o marcador*/
    text-transform: uppercase; /*Maiusculo*/
    top:auto;
    text-align: center;
    display: inline-block; /*Ficando em linha*/
}

nav#menu li a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--cor-cinzar);
    text-decoration: none;
    display: block; /*Tranformando um uma caixa para toda a área ser clicável*/
    font-weight: 700; /*Bold*/
    padding: 10px; /*Interno do itens*/
   
}

nav#menu li:hover{
    background-color: var(--cor-azulescuro);
    
    transition: 0.7s; /*Transição da animação do Menu*/
    opacity: 90%; /*Transparência na caixa*/
}


nav#menu a:hover{
    color: var(--cor-Branco);
    transition: color 0.4s;
}
