@charset "UTF-8";

@import url(../header-footer/footer.css);
@import url(../header-footer/header.css);

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #15151E;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left; /*Permitiu ficar do lado esquerdo por conta do outros elemento ficarem no tomanho total*/
    
}

#login h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding-bottom: 15px;
    text-transform: uppercase;
}

#login{
    background-color: rgba(255, 255, 255, 0.917);
    text-align: center;
    padding: 2em 1.5em;
    width: 100%;
    max-width: 350px;
    outline: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#login input{
    display: block;
    padding: 10px;
    margin: 5px 0;
    width: 100%; /*O input tomou 100% da tela*/
    border-radius: 8px;
    box-sizing: border-box;
    
}

#login button{
    margin: 10px 0;
    padding: 10px 15px;
    width: auto;
    border-radius: 8px;
    background-color: #f0e0d6;
    border: none;
    cursor: pointer; /*Para mudar o tipo de mause*/
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#login button:hover{
    background-color: #15151E;
    color: #f0e0d6;

}
#login input:focus{
    border-color: #1a237e;
}

/*Animação ao clicar*/
#login button:active{
    transform: scale(0.98); /*Movimentação do botão*/
}

#entrar{
    background-color: #f0e0d6;
      margin-right: 10px;
}

/* Media Query para telas maiores */
@media (min-width: 600px){
    #login{
        max-width: 800px; /* Aumenta a largura da caixa no desktop */
        padding: 3em 2.5em; /* Aumenta o padding para dar mais espaço interno */
        min-height: 300px; /* Aumenta a altura da caixa no desktop */
    }

    #login h1 {
        font-size: 2em;
    }

    #login button {
        width: auto; /*Botões menores alinhado*/
        margin-right: 10px;
    }
}