@charset "UTF-8";

/*Header & Footer*/
@import url(header-footer/header.css);
@import url(header-footer/footer.css);

body{
    color: var(--cor-cinzar);
    background-color: var(--cor-azulescuro);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

/*NAVEGAÇÃO*/
header{
    /*PERMITINDO FLEXIBILIDADE NOS ITENS*/
   display: flex;  
   /*ESPAÇO ENTRE OS ITENS*/
   justify-content: space-between;
   /*Dando espeço para cabeçalho*/
   padding-bottom: 25px
}

header p {
    align-self: flex-start;
    text-align: left;
    /*Garantido que ele fica na esquerda, tirando os espaçamento*/
    margin: 0;

}

header h1{
    margin: 0;
}
nav{
    padding: 10px;
    background-color: var(--cor-azul);
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: block;
}
nav li{
    width: 100%;
    display: inline;
    margin: 20px;
    padding: 5px;
    
}

nav li:hover{
    background-color: var(--cor-breto);
    transition: 0.6s;
    opacity: 80%;
    
}

.menu a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}


/*TÍTULOS*/
h1, h2, h3{
    font-size: 30px;
}
p{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: #D1D5DB;
    
}

.Link-atv3{
    display: inline;
}

main{
    display: block;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
}

/*Utilizando Media Queries, definindo o tamanho apra celular de forma resposível*/
@media (max-width: 450px){
    nav li {
        font-size: 14px;
        font-weight: bold;
    }
    header h1{
        font-size: 20px;
        margin: 10px auto;
    }
    header p{
        margin: 15px auto;
        font-size: 10px;
    }
    main h2{
        font-size: 20px;
    }
    main p{
        font-size: 14px;
    }
}