@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Doto:wght@100..900&display=swap');


:root {
    --cor-azul: #1E3A8A;
    --cor-Branco: #EFF6FF;
    --cor-azulescuro: #1E40AF;
    --cor-breto: #000000;
    --cor-cinzar: #D1D5DB;
}

*{
    margin: 0;
    padding: 0;
}

/*Configuração da Página Completa*/
body{
    color: #000000;
    background-color: #EFF6FF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    
}

/*Navegações*/

nav#menu ul{
    background-color: var(--cor-breto);
    padding: 5px; /*Definindo a largura de foro*/
    opacity: 90%;
    position: relative; /*permitindo uma forma relativa na tela*/
    right: 1px;
}

nav#menu li{
    list-style: none; /*Esconde o marcador*/
    text-transform: uppercase; /*Maiusculo*/
    top:auto;
    text-align: center;
    display: inline-block; /*Ficando em linha*/
    
}

nav#menu li a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--cor-cinzar);
    display: block;
    text-decoration: none;
    display: block; /*Tranformando um uma caixa para toda a área ser clicável*/
    font-weight: 700; /*Bold*/
    padding: 10px; /*Interno do itens*/
   
}

nav#menu li:hover{
    background-color: var(--cor-azulescuro);
    
    transition: 0.7s; /*Transição da animação do Menu*/
    opacity: 90%; /*Transparência na caixa*/
}


nav#menu a:hover{
    color: var(--cor-Branco);
    transition: color 0.4s;
}

/*Main*/
#capa{
    position: relative;
    height: 300px;
    display: block; /*Permiti que maior flexibilidade*/
    overflow: hidden; /* Garante que o conteúdo do ::before não extrapole, passou seja cortado */
    display: flex;
    justify-content: center;
    align-items: center;
}

#capa h1{
    font-size: 40px;
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor-cinzar);
}

.cursor{
    display: inline-block;
    width: 1px;
    animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
    50%{
        opacity: 0%;
    }
}

#capa::before{
    content: "";
    position: absolute; /*Posicionamento Relativo, dentro da capa, limitando a capa o uso*/
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/imagens/Capa.jpg); /*Colocando imagens no fundo da página*/
    background-size: cover;
    background-position: center;
    /*Configuração para alterar o fundo da imagens*/
    filter: blur(5px);
    z-index: -1;
}
div{
    /*Centralizando div*/
    justify-content: center; /*Conteúdo horizontal*/
    color: #000000;
    height: 300px;
    background-color: #D1D5DB;
    align-items: center;    
}

/*Configuração das Imagens.Display -> Renderização. Essa caixas estão block uma caixa em cima da outra,
coloquei como inline -> uma caixa na frente do Outro*/

/*gap -> Distância de Uma foto entre outra*/
.image-conteiner{
    display: flex;
    gap: 20px;
}