body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: relative; /*Posicionamento de forma flexivel*/
    text-align: center; /*Centralizando texto*/
    align-items: center; /*Centralizando os itens*/
    justify-content: center; /*Centralizando a Caixa*/
    display: block; /*Bloqueando as caixar para ficar uma de baixo da outra*/
    background-image: url(../imagens/Beckground.jpg); /*Imagens de Fundo*/

}

.Image-backgroud{
    height: 50vw; /*Ajustando a imagens do navegador*/
    width: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color: black;
    margin: 5px;
    padding: 0;
    outline: 0;
    border: 0;

    
    
}
p {
    font-size: 20px;
    color: black;
    background-color: white;
    opacity: 80%; /*Colando opacidade no fundo do elemento*/
    
}

a{
    color: white;
    font-size: 20px;
    background-color: black;
    opacity: 80%;
    
    
}

.YT_video {
    text-align: center;
}