*{
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center; /*Centralizando texto*/
    align-items: center; /*Centralizando os itens*/
    justify-content: center; /*Centralizando a Caixa*/
    background-image: url(../imagens/Beckground.jpg); /*Imagens de Fundo*/

}

.Image-backgroud{
    height: 50vw; /*Ajustando a imagens do navegador*/
    width: 50vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color: black;
    margin: 5px;
    padding: 0;
    outline: 0;
    border: 0;

    
    
}
p {
    font-size: 20px;
    color: black;
    background-color: white;
    opacity: 80%; /*Colando opacidade no fundo do elemento*/
    
}

a{
    color: white;
    font-size: 20px;
    background-color: black;
    opacity: 80%;
    
    
}

.YT_video {
    text-align: center;
}

div .image-conteiner{
    height: 300px;
    align-items: center; /*Centralizando div*/
    width: 100px;
    height: 100px;
    background-color: #000000; 
}

.image-conteiner > div{
    display: inline-block; /*Conteúdo horizontal*/
    color: #000000;
    margin: 0 auto;
    
}

.image-conteiner h2{
    color: #000000;
}

article{
    background-color: white;

    justify-content: center;
    align-items: center;
}